:root {
    /* BACKGROUND */
    --background-color: #d21313;

    /* TEXT */
    --text-title-color: white;
    --text-subtitle-color: white;
    --text-primary-color: white;
    --text-secondary-color: white;

    --text-title-size: 24px;
    --text-subtitle-size: 24px;
    --text-normal-size: 24px;
    --text-small-size: 24px;
    --text-medium-size: 30px;
    --text-large-size: 50px;

    /* TRANSITION */
    --transition-delay: 0.5s;
    --transition-duration: 0.1s;

    /* ANALYZER */
    --analyze-shadow-color-primary: rgba(255, 164, 0, var(--analyze-shadow-intesity-primary));
    --analyze-shadow-intesity-primary: 1.0;
    --analyze-shadow-color-secondary: rgba(255, 164, 0, var(--analyze-shadow-intesity-secondary));
    --analyze-shadow-intesity-secondary: 0.5;
    --analyze-shadow-duration: 0.5s;

    --analyze-boarder-color: white;
    --analyze-boarder-size: 2px;

    --analyze-background-color: #4d0e0e;
    --analyze-text-animation-duration: 0.6s;
}
